@use '../var/variables' as *;
@use '../var/mixins' as *;

.page-register {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    text-align: center;
  }

  .register-header {
    margin-bottom: 1.5rem;
  }

  input{
    width: 50%;
    padding: 0.6em;
    font-size: 16px;
    border: 2px solid #969696;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  #validation {
    background-color: $fond-jaune;
    color: $texte-clair;
    padding: $espace-xs $espace-sm $espace-xs $espace-sm;
    font-weight: bold;
    font-family: $police-base;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    &:hover {
      filter: brightness(95%);
      cursor: pointer;
    }
  }

  #after-submit{
    color: red;
    font-size: x-large;
  }
}
