<header class="navbar">
    <nav class="navbar__container">
        <!-- retour à l'accueil -->
        <a href="/" data-link class="navbar__logo"> Catalogue</a>

        <!-- Liens de nav -->
        <ul class="navbar__links">
            <li><a href="/compte" data-link>Espace Compte</a></li>
            <li><a href="/connexion" data-link>Connexion / Inscription</a></li>
        </ul>

        <div class="navbar__right">
        <!-- Panier -->
            <a href="/panier" data-link class="navbar__cart">Panier</a>
        <!-- Reservations -->
            <a href="/reservations" data-link class="navbar__res">Mes réservations</a>
        </div>
    </nav>
</header>
