<header class="navbar">
    <nav class="navbar__container">
        <!-- retour à l'accueil -->
        <a href="/" data-link class="navbar__logo"> Catalogue</a>

        <!-- Liens de nav -->
        <ul class="navbar__links">
            <li id="espace-compte"><a href="/profile" data-link>Espace Compte</a></li>
            <li id="header-login"><a href="/connexion" data-link>Se connecter</a></li>
            <li id="header-logout"><a href="/deconnexion">Se déconnecter</a></li>
        </ul>

        <div class="navbar__right">
            <p id="statut-connexion">Invité</p>
        <!-- Panier -->
            <a href="/panier" data-link class="navbar__cart">Panier</a>
        </div>
    </nav>
</header>