{{> header}}


<div class="page-login">
    <main class="container">
        <div class="login-header">
            <h1>Connexion</h1>
        </div>

        <div class="login-body">
            <form id="connexion-form">
              <label for="email">Email :</label><br>
              <input type="email" id="email" name="email"><br>
              <label for="password">Last name:</label><br>
              <input type="password" id="password" name="password">
              <input type="submit" value="Connexion">
            </form>
        </div>
    </main>
</div>

{{> footer}}