{{> header}}

<h1 class="titre"> Mon profile </h1>
<ul class="profile-list">
    <li><a href="/reservations" data-link>Mes réservations</a></li>
    <li><a href="/deconnexion" data-link>Se déconnecter</a></li>
</ul>

{{> footer}}