{{> header}}


<div class="page-register">
    <main class="container">
        <div class="register-header">
            <h1>S'enregistrer</h1>
        </div>

        <div class="register-body">
            <form id="register-form">
              <label for="email">Email :</label><br>
              <input type="email" id="email" name="email"><br>
              <label for="password">Mot de passe :</label><br>
              <input type="password" id="password" name="password">
              <input type="submit" value="S'enregistrer">
            </form>
        </div>
    </main>
</div>

{{> footer}}