
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  //trop stylé
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  top: 0;
  z-index: 1000;
}

.navbar__container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar__links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar__links a:hover {
  color: #daa757;
}

.navbar__cart, .navbar__res {
  text-decoration: none;
  color: #333;
  position: relative;
  transition: color 0.2s ease;
  &:hover{
    color: #daa757;
  }
}

.navbar__cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ff4d4f;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 0.2rem 0.4rem;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}